/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
}

.container {
  max-width: 940px;
  padding: 120px 0;
  margin: 0 auto;
}

h1 {
  margin: 24px;
  font-size: 76px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-size: 40px;
  line-height: 1.2;
  text-transform: capitalize;
  font-family: "Noto Serif", serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

h4 {
  font-family: "Noto Serif", serif;
  color: #777777;
  font-size: 16px;
  font-weight: normal;
  margin: 8px 0 0 0;
  text-align: center;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

h6 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  margin: 32px auto 0 auto;
  padding: 0;
  max-width: 290px;
  color: #222222;
}

/* Navigation */
nav {
  max-width: 940px;
  padding: 0;
  margin: 0 auto;
}

nav .row {
  display: flex;
  padding: 24px 0;
  height: 80px;
  margin-bottom: -80px;
}

nav .row .nav-logo {
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}

nav .row .nav-logo a {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #fed136;
  flex: 2;
  text-decoration: none;
}

nav .row .nav-menu {
  display: flex;
  flex: 6;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px 0 0;
}

nav .row .nav-menu ul {
  list-style-type: none;
  margin: 0;
}

nav .row .nav-menu ul li {
  display: inline-block;
  padding: 0 0 0 20px;
}

nav .row .nav-menu ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
}

/* Splash */
.splash {
  background-image: url(/images/splash.jpg);
  background-size: cover;
  color: #fff;
  min-height: 700px;
  display: flex;
}

.splash .splash-inner {
  margin: auto;
  max-width: 70%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.splash .splash-inner .btn {
  display: inline-block;
  min-width: 240px;
  min-height: 65px;
  margin: 24px auto 0 auto;
  padding-top: 21px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #fed136;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

/* SERVICES */
.services-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-box .service {
  flex: 0 0 33.3333%;
  padding: 60px 10px 0 10px;
  justify-content: center;
  margin: 0;
}

.services-box .service img {
  display: flex;
  margin: 0 auto;
}

.services-box .service h5, .services-box .service p {
  text-align: center;
}

.services-box .service p {
  color: #777777;
}

/* PORTFOLIO */
.portfolio-sec {
  background-color: #f7f7f7;
}

.portfolio-sec .portfolio-box {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-sec .portfolio-box .portfolio {
  flex: 0 0 290px;
  margin: 0 0 50px 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
}

.portfolio-sec .portfolio-box .portfolio img {
  margin: 0;
  padding: 0;
}

.portfolio-sec .portfolio-box .portfolio p {
  font-family: "Noto Serif", serif;
  color: #777777;
  font-size: 14px;
  margin: 0 auto 30px auto;
  padding: 0;
  max-width: 290px;
  font-weight: normal;
}

/* Footer */
footer .container {
  padding: 40px 0;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #777777;
  font-weight: bold;
  margin-bottom: -29px;
}

ul {
  list-style-type: 0;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  font-size: 0;
  margin: 0 5px;
}

ul li i {
  font-size: 18px;
  color: #fff;
  background-color: #222222;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 10px;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxjQUFBO0FBWUEsV0FBQTtBQUVBO0VBQ0Usc0JBQXNCO0FDWHhCOztBRGNBO0VBQ0UsU0FBUztFQUNULGVBQWU7RUFDZixpQ0FaOEI7QUNDaEM7O0FEY0E7RUFDRSxnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQ2hCLGNBQWM7QUNYaEI7O0FEY0E7RUFDRSxZQUFZO0VBQ1osZUFBZTtFQUNmLHlCQUF5QjtBQ1gzQjs7QURjQTtFQUNFLFNBQVM7RUFDVCxlQUFlO0VBQ2YsZ0JBQWdCO0VBQ2hCLDBCQUEwQjtFQUMxQixnQ0FqQzhCO0FDc0JoQzs7QURjQTtFQUNFLHFDQXRDb0M7RUF1Q3BDLGVBQWU7RUFDZix5QkFBeUI7RUFDekIsU0FBUztFQUNULGtCQUFrQjtBQ1hwQjs7QURjQTtFQUNFLGdDQTdDOEI7RUE4QzlCLGNBQWM7RUFDZCxlQUFlO0VBQ2YsbUJBQW1CO0VBQ25CLGlCQUFpQjtFQUNqQixrQkFBa0I7QUNYcEI7O0FEY0E7RUFDRSxxQ0F2RG9DO0VBd0RwQyxlQUFlO0FDWGpCOztBRGNBO0VBQ0UsZUFBZTtFQUNmLHFDQTdEb0M7RUE4RHBDLDBCQUEwQjtFQUMxQix3QkFBd0I7RUFDeEIsVUFBVTtFQUNWLGdCQUFnQjtFQUNoQixjQXBFaUI7QUN5RG5COztBRGNBLGVBQUE7QUFFQTtFQUNFLGdCQUFnQjtFQUNoQixVQUFVO0VBQ1YsY0FBYztBQ1poQjs7QURTQTtFQUtNLGFBQWE7RUFDYixlQUFlO0VBQ2YsWUFBWTtFQUNaLG9CQUFvQjtBQ1YxQjs7QURFQTtFQVVVLGFBQWE7RUFDYixtQkFBbUI7RUFDbkIsc0JBQXNCO0FDUmhDOztBREpBO0VBY2MsZ0NBbEZpQjtFQW1GakIsZUFBZTtFQUNmLGNBMUZXO0VBMkZYLE9BQU87RUFDUCxxQkFBcUI7QUNObkM7O0FEWkE7RUFzQlUsYUFBYTtFQUNiLE9BQU87RUFDUCxtQkFBbUI7RUFDbkIseUJBQXlCO0VBQ3pCLG1CQUFtQjtBQ043Qjs7QURwQkE7RUE0QmEscUJBQXFCO0VBQ3JCLFNBQVM7QUNKdEI7O0FEekJBO0VBK0JpQixxQkFBcUI7RUFDckIsbUJBQW1CO0FDRnBDOztBRDlCQTtFQWtDcUIscUJBQXFCO0VBQ3JCLHFDQTFHaUI7RUEyR2pCLGVBQWU7RUFDZixXQWpIUTtBQ2lIN0I7O0FEUUEsV0FBQTtBQUVBO0VBQ0UseUNBQXlDO0VBQ3pDLHNCQUFzQjtFQUN0QixXQTlIMkI7RUErSDNCLGlCQUFpQjtFQUNqQixhQUFhO0FDTmY7O0FEQ0E7RUFPTSxZQUFZO0VBQ1osY0FBYztFQUNkLGtCQUFrQjtFQUNsQixxQ0FoSWdDO0FDNEh0Qzs7QUROQTtFQVlVLHFCQUFxQjtFQUNyQixnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQ2hCLHdCQUF3QjtFQUN4QixpQkFBaUI7RUFDakIsa0JBQWtCO0VBQ2xCLGVBQWU7RUFDZixrQkFBa0I7RUFDbEIscUJBQXFCO0VBQ3JCLHlCQTlJZTtFQStJZixXQWpKbUI7RUFrSm5CLGlCQUFpQjtFQUNqQix5QkFBeUI7QUNGbkM7O0FET0EsYUFBQTtBQUVBO0VBQ0UsYUFBYTtFQUNiLGVBQWU7RUFDZiw4QkFBOEI7QUNMaEM7O0FERUE7RUFLTSxrQkFBa0I7RUFDbEIseUJBQXlCO0VBQ3pCLHVCQUF1QjtFQUN2QixTQUFTO0FDSGY7O0FETEE7RUFVVSxhQUFhO0VBQ2IsY0FBYztBQ0R4Qjs7QURWQTtFQWNVLGtCQUFrQjtBQ0E1Qjs7QURkQTtFQWlCVSxjQUFjO0FDQ3hCOztBRElBLGNBQUE7QUFFQTtFQUNFLHlCQWxMK0I7QUNnTGpDOztBRENBO0VBR00saUJBQWlCO0VBQ2pCLGFBQWE7RUFDYixlQUFlO0VBQ2YsOEJBQThCO0FDQXBDOztBRE5BO0VBUVUsZUFBZTtFQUNmLGtCQUFrQjtFQUNsQixVQUFVO0VBQ1Ysc0JBN0xtQjtFQThMbkIsa0JBQWtCO0FDRTVCOztBRGRBO0VBY2MsU0FBUztFQUNULFVBQVU7QUNJeEI7O0FEbkJBO0VBa0JjLGdDQTlMa0I7RUErTGxCLGNBQWM7RUFDZCxlQUFlO0VBQ2Ysd0JBQXdCO0VBQ3hCLFVBQVU7RUFDVixnQkFBZ0I7RUFDaEIsbUJBQW1CO0FDS2pDOztBRENBLFdBQUE7QUFFQTtFQUNFLGVBQWU7QUNDakI7O0FERUE7RUFDRSxxQ0FsTm9DO0VBbU5wQyxlQUFlO0VBQ2YsY0FBYztFQUNkLGlCQUFpQjtFQUNqQixvQkFBb0I7QUNDdEI7O0FERUE7RUFDRSxrQkFBa0I7RUFDbEIsa0JBQWtCO0VBQ2xCLFNBQVM7RUFDVCxVQUFVO0FDQ1o7O0FETEE7RUFNTSxxQkFBcUI7RUFDckIsWUFBWTtFQUNaLGFBQWE7QUNHbkI7O0FEWEE7RUFVVSxlQUFlO0VBQ2YsV0F6T21CO0VBME9uQix5QkF2T1M7RUF3T1QsV0FBVztFQUNYLFlBQVk7RUFDWixrQkFBa0I7RUFDbEIsaUJBQWlCO0FDSzNCIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */