/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
}

.container {
  max-width: 940px;
  padding: 120px 0;
  margin: 0 auto;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

h4 {
  font-family: "Noto Serif", serif;
  color: #777777;
  font-size: 16px;
  font-weight: normal;
  margin: 8px 0 0 0;
  text-align: center;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

/* Navigation */
nav {
  max-width: 940px;
  padding: 0;
  margin: 0 auto;
}

nav .row {
  display: flex;
  padding: 24px 0;
  height: 80px;
  margin-bottom: -80px;
}

nav .row .nav-logo {
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
}

nav .row .nav-logo a {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #fed136;
  flex: 2;
  text-decoration: none;
}

nav .row .nav-menu {
  display: flex;
  flex: 6;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px 0 0;
}

nav .row .nav-menu ul {
  list-style-type: none;
  margin: 0;
}

nav .row .nav-menu ul li {
  display: inline-block;
  padding: 0 0 0 20px;
}

nav .row .nav-menu ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
}

/* Splash */
.splash {
  background-image: url(/images/splash.jpg);
  background-size: cover;
  color: #fff;
  min-height: 700px;
  display: flex;
}

.splash .splash-inner {
  margin: auto;
  max-width: 70%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.splash .splash-inner h2 {
  margin: 0;
  font-size: 40px;
  line-height: 1.2;
  text-transform: capitalize;
  font-family: "Noto Serif", serif;
}

.splash .splash-inner h1 {
  margin: 24px;
  font-size: 76px;
  text-transform: uppercase;
}

.splash .splash-inner .btn {
  display: inline-block;
  min-width: 240px;
  min-height: 65px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #fed136;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

/* SERVICES */
.services-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-box .services {
  flex: 0 0 33.3333%;
  padding: 60px 10px 0 10px;
  justify-content: center;
  margin: 0;
}

.services-box .services img {
  display: flex;
  margin: 0 auto;
}

.services-box .services h5, .services-box .services p {
  text-align: center;
}

.services-box .services p {
  color: #777777;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxjQUFBO0FBWUEsV0FBQTtBQUVBO0VBQ0Usc0JBQXNCO0FDWHhCOztBRGNBO0VBQ0UsU0FBUztFQUNULGVBQWU7RUFDZixpQ0FaOEI7QUNDaEM7O0FEY0E7RUFDRSxnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQ2hCLGNBQWM7QUNYaEI7O0FEY0E7RUFDRSxxQ0F4Qm9DO0VBeUJwQyxlQUFlO0VBQ2YseUJBQXlCO0VBQ3pCLFNBQVM7RUFDVCxrQkFBa0I7QUNYcEI7O0FEY0E7RUFDRSxnQ0EvQjhCO0VBZ0M5QixjQUFjO0VBQ2QsZUFBZTtFQUNmLG1CQUFtQjtFQUNuQixpQkFBaUI7RUFDakIsa0JBQWtCO0FDWHBCOztBRGNBO0VBQ0UscUNBekNvQztFQTBDcEMsZUFBZTtBQ1hqQjs7QURjQSxlQUFBO0FBRUE7RUFDRSxnQkFBZ0I7RUFDaEIsVUFBVTtFQUNWLGNBQWM7QUNaaEI7O0FEU0E7RUFLTSxhQUFhO0VBQ2IsZUFBZTtFQUNmLFlBQVk7RUFDWixvQkFBb0I7QUNWMUI7O0FERUE7RUFVVSxhQUFhO0VBQ2IsbUJBQW1CO0VBQ25CLHNCQUFzQjtBQ1JoQzs7QURKQTtFQWNjLGdDQTFEaUI7RUEyRGpCLGVBQWU7RUFDZixjQWxFVztFQW1FWCxPQUFPO0VBQ1AscUJBQXFCO0FDTm5DOztBRFpBO0VBc0JVLGFBQWE7RUFDYixPQUFPO0VBQ1AsbUJBQW1CO0VBQ25CLHlCQUF5QjtFQUN6QixtQkFBbUI7QUNON0I7O0FEcEJBO0VBNEJhLHFCQUFxQjtFQUNyQixTQUFTO0FDSnRCOztBRHpCQTtFQStCaUIscUJBQXFCO0VBQ3JCLG1CQUFtQjtBQ0ZwQzs7QUQ5QkE7RUFrQ3FCLHFCQUFxQjtFQUNyQixxQ0FsRmlCO0VBbUZqQixlQUFlO0VBQ2YsV0F6RlE7QUN5RjdCOztBRFFFLFdBQUE7QUFFQTtFQUNFLHlDQUF5QztFQUN6QyxzQkFBc0I7RUFDdEIsV0F0R3lCO0VBdUd6QixpQkFBaUI7RUFDakIsYUFBYTtBQ05qQjs7QURDRTtFQU9NLFlBQVk7RUFDWixjQUFjO0VBQ2Qsa0JBQWtCO0VBQ2xCLHFDQXhHOEI7QUNvR3RDOztBRE5FO0VBWVUsU0FBUztFQUNULGVBQWU7RUFDZixnQkFBZ0I7RUFDaEIsMEJBQTBCO0VBQzFCLGdDQTdHb0I7QUMyR2hDOztBRGRFO0VBbUJVLFlBQVk7RUFDWixlQUFlO0VBQ2YseUJBQXlCO0FDRHJDOztBRHBCRTtFQXdCVSxxQkFBcUI7RUFDckIsZ0JBQWdCO0VBQ2hCLGdCQUFnQjtFQUNoQix3QkFBd0I7RUFDeEIsYUFBYTtFQUNiLGtCQUFrQjtFQUNsQixlQUFlO0VBQ2Ysa0JBQWtCO0VBQ2xCLHFCQUFxQjtFQUNyQix5QkFsSWE7RUFtSWIsV0FySWlCO0VBc0lqQixpQkFBaUI7RUFDakIseUJBQXlCO0FDQXJDOztBREtFLGFBQUE7QUFFQTtFQUNFLGFBQWE7RUFDYixlQUFlO0VBQ2YsOEJBQThCO0FDSGxDOztBREFFO0VBS00sa0JBQWtCO0VBQ2xCLHlCQUF5QjtFQUN6Qix1QkFBdUI7RUFDdkIsU0FBUztBQ0RqQjs7QURQRTtFQVVVLGFBQWE7RUFDYixjQUFjO0FDQzFCOztBRFpFO0VBY1Usa0JBQWtCO0FDRTlCOztBRGhCRTtFQWlCVSxjQUFjO0FDRzFCIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */