/* Variables */

$color-light-background: #fff;
$color-medium-background: #f7f7f7;
$color-hot-point: #fed136;
$text-dark: #222222;

$font-header: 'Montserrat', sans-serif;
$font-think: 'Noto Serif', serif;
$font-text: 'Roboto Slab', serif;
$font-logo: 'Pacifico', cursive;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: $font-text;
}

.container {
  max-width: 940px;
  padding: 120px 0;
  margin: 0 auto;
}

h1 {
  margin: 24px;
  font-size: 76px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-size: 40px;
  line-height: 1.2;
  text-transform: capitalize;
  font-family: $font-think;
}

h3 {
  font-family: $font-header;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

h4 {
  font-family: $font-think;
  color: #777777;
  font-size: 16px;
  font-weight: normal;
  margin: 8px 0 0 0;
  text-align: center;
}

h5 {
  font-family: $font-header;
  font-size: 18px;
}

h6 {
  font-size: 18px;
  font-family: $font-header;
  text-transform: capitalize;
  margin: 32px auto 0 auto;
  padding: 0;
  max-width: 290px;
  color: $text-dark;
}

/* Navigation */

nav {
  max-width: 940px;
  padding: 0;
  margin: 0 auto;
    .row {
      display: flex;
      padding: 24px 0;
      height: 80px;
      margin-bottom: -80px;
        .nav-logo {
          display: flex;
          align-items: center;
          padding: 0 20px 0 20px;
            a {
              font-family: $font-logo;
              font-size: 24px;
              color: $color-hot-point;
              flex: 2;
              text-decoration: none;
            }
        }
        .nav-menu {
          display: flex;
          flex: 6;
          align-items: center;
          justify-content: flex-end;
          padding: 0 20px 0 0;
           ul {
             list-style-type: none;
             margin: 0;
               li {
                 display: inline-block;
                 padding: 0 0 0 20px;
                   a {
                     text-decoration: none;
                     font-family: $font-header;
                     font-size: 14px;
                     color: $color-light-background;
                   }
               }
           }
        }
    }
}

/* Splash */

.splash {
  background-image: url(/images/splash.jpg);
  background-size: cover;
  color: $color-light-background;
  min-height: 700px;
  display: flex;
    .splash-inner {
      margin: auto;
      max-width: 70%;
      text-align: center;
      font-family: $font-header;
        .btn {
          display: inline-block;
          min-width: 240px;
          min-height: 65px;
          margin: 24px auto 0 auto;
          padding-top: 21px;
          border-radius: 4px;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          background-color: $color-hot-point;
          color: $color-light-background;
          font-weight: bold;
          text-transform: uppercase;
        }
    }
}

/* SERVICES */

.services-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    .service {
      flex: 0 0 33.3333%;
      padding: 60px 10px 0 10px;
      justify-content: center;
      margin: 0;
        img {
          display: flex;
          margin: 0 auto;
        }
        h5, p {
          text-align: center;
        }
        p {
          color: #777777;
          font-weight: normal;
        }
    }
}

/* PORTFOLIO */

.portfolio-sec {
  background-color: $color-medium-background;
    .portfolio-box {
      margin-top: 120px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
        .portfolio {
          flex: 0 0 290px;
          margin: 0 0 50px 0;
          padding: 0;
          background-color: $color-light-background;
          text-align: center;
            img {
              margin: 0;
              padding: 0;
            }
            p {
              font-family: $font-think;
              color: #777777;
              font-size: 14px;
              margin: 0 auto 30px auto;
              padding: 0;
              max-width: 290px;
              font-weight: normal;
            }
        }
    }
}

/* Footer */

footer .container {
  padding: 40px 0;
}

p {
  font-family: $font-header;
  font-size: 14px;
  color: #777777;
  /*font-weight: bold;*/
  margin-bottom: -29px;
}

ul {
  list-style-type: 0;
  text-align: center;
  margin: 0;
  padding: 0;
    li {
      display: inline-block;
      font-size: 0;
      margin: 0 5px;
        i {
          font-size: 18px;
          color: $color-light-background;
          background-color: $text-dark;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          padding-top: 10px;
        }
    }
}

/* Media */

@media (max-width: 768px) {
  .services-box {
    flex-direction: column;
  }
  footer p {
    margin-bottom: 20px;
    text-align: center;
  }
}
